Python Numbers
-----------------------------------------------------------------------------------

In [1]:
2+1

3

In [3]:
2-1

1

In [4]:
2*2

4

In [5]:
3/2

1.5

In [6]:
7/4

1.75

In [7]:
7 % 4

3

In [8]:
50 % 5

0

In [10]:
23 % 2

1

In [11]:
20 % 2

0

In [12]:
2 **3

8

In [14]:
2 + 10 * 10 +3

105

In [15]:
(2+10) * (10+3)

156

Variables
-----------------------------------------------------------------------------------

In [3]:
a = 5

In [4]:
a

5

In [5]:
a=10

In [6]:
a

10

In [7]:
a +a

20

In [15]:
a = a + a

In [16]:
a

320

In [17]:
type (a)

int

In [18]:
a = 30.1

In [19]:
type (a)

float

In [21]:
my_income = 100

tax_rate = 0.1

my_taxes = my_income * tax_rate

In [22]:
my_taxes

10.0

Strings
-----------------------------------------------------------------------------------

Character: h  e  l  l  o
Index:     0  1  2  3  4
Reverse:   0 -4 -3 -2 -1

In [23]:
'hello'

'hello'

In [24]:
"world"

'world'

In [25]:
'this is also a string'

'this is also a string'

In [26]:
" I'm going on a run "

" I'm going on a run "

In [27]:
print ("hello")

hello

In [29]:
print ("hello world one")
print ("hello world two")

hello world one
hello world two

In [32]:
print ('hello \nworld')

hello
world

In [33]:
len('world')

5

In [34]:
len('I am')

4

In [35]:
mystring = "Hello World"

In [37]:
mystring

'Hello World'

In [38]:
mystring[0]

'H'

In [39]:
mystring[8]

'r'

In [40]:
mystring[9]

'l'

In [41]:
mystring[-2]

'l'

In [43]:
mystring ='abcdefghijk'

In [44]:
mystring

'abcdefghijk'

In [46]:
mystring[2:]

'cdefghijk'

In [47]:
mystring[:3]

'abc'

In [48]:
mystring[3:6]

'def'

In [49]:
mystring[1:3]

'bc'

In [54]:
mystring[2:7:2]

'ceg'

In [55]:
mystring[::-1]

'kjihgfedcba'

# Immutability

In [4]:
name = "Sam"

In [7]:
# name[0] = "P"

In [10]:
last_letters = name[1:]

In [11]:
last_letters

'am'

In [12]:
'P' + last_letters

'Pam'

In [13]:
x = 'Hello World'

In [20]:
x= x + " it is beautiful outside !"

In [21]:
x

'Hello World it is beautiful outside it is beautiful outside it is beautiful outside it is beautiful outside'

In [22]:
letter = 'z'

In [23]:
letter*10

'zzzzzzzzzz'

In [24]:
2 + 3

5

In [25]:
"2" + "3"

'23'

In [26]:
x = 'Hello World'

In [27]:
x.upper()

'HELLO WORLD'

In [28]:
x

'Hello World'

In [29]:
x.lower()

'hello world'

In [30]:
x.split()

['Hello', 'World']

In [31]:
x = 'Hi this is a string'

In [33]:
x.split("i")

['H', ' th', 's ', 's a str', 'ng']

In [34]:
print('hello')

hello

# String Formatting for Printing  (.format)

In [1]:
print ('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [4]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [6]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q= 'quick'))

The quick brown fox

In [7]:
print('The {f} {f} {f}'.format(f='fox',b='brown',q= 'quick'))

The fox fox fox

### Float Formatting follows "{value:width.precision f}"

In [8]:
result = 100/777

In [19]:
result = 104.12345

In [12]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [21]:
print("The result was {r:1.2f}".format(r=result))

The result was 104.12

In [22]:
name = "Jose"

In [23]:
print('Hello, his name is {}'.format(name))

Hello, his name is Jose

In [24]:
print(f'Hello, his name is {name}')

Hello, his name is Jose

In [4]:
name = "Sam"
age = 3

In [5]:
print (f'{name} is {age} years old')

Sam is 3 years old

## Lists

In [8]:
my_list = [1,2,3]

In [1]:
my_list = ['STRING', 100, 23.2]

In [2]:
len(my_list)

3

In [3]:
mylist = ['one', 'two', 'three']

In [4]:
mylist[0]

'one'

In [5]:
mylist[1:]

['two', 'three']

In [6]:
another_list = ['four', 'five']

In [10]:
new_list = mylist + another_list

In [11]:
new_list

['one', 'two', 'three', 'four', 'five']

In [13]:
new_list[0] = 'ONE ALL CAPS'

In [14]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [15]:
new_list.append('six')

In [16]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [17]:
new_list.append('seven')

In [18]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [19]:
new_list.pop()

'seven'

In [20]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [21]:
popped_item = new_list.pop()

In [22]:
popped_item

'six'

In [23]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [25]:
new_list.pop(0)

'ONE ALL CAPS'

In [26]:
new_list

['two', 'three', 'four', 'five']

In [37]:
new_list = ['a', 'b','x','b', 'c']
num_list = [4,1,8,3]

In [32]:
new_list.sort()

In [33]:
new_list

['a', 'b', 'b', 'c', 'x']

In [34]:
new_list.sort()
my_sorted_list = new_list

In [35]:
my_sorted_list

['a', 'b', 'b', 'c', 'x']

In [38]:
num_list

[4, 1, 8, 3]

In [39]:
num_list.sort()

In [40]:
num_list

[1, 3, 4, 8]

In [41]:
num_list.reverse()

In [42]:
num_list

[8, 4, 3, 1]

## Dictionaries

In [44]:
my_dict={'key1':'value1', 'key2':'value2'}

In [45]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [49]:
my_dict['key1']

'value1'

In [54]:
prices_lookup = {'apple':2.99,'oranges':1.99,'milk':5.80}

In [56]:
prices_lookup['apple']

2.99

In [60]:
d = {'k1':123, 'k2':[0,1,2], 'k3':{"insidekey":100}}

In [59]:
d['k2']

[0, 1, 2]

In [62]:
d['k3']['insidekey']

100

In [64]:
d['k2'][2]

2

In [66]:
d = {'key1':['a','b','c']}

In [71]:
d['key1'][2]

'c'

In [72]:
my_list = d['key1']

In [73]:
my_list

['a', 'b', 'c']

In [76]:
letter = my_list[2]

In [77]:
letter.upper()

'C'

In [80]:
d['key1'][2].upper()

'C'

In [81]:
d= {'k1':100,"ks":200}

In [83]:
d['k3']=300

In [84]:
d

{'k1': 100, 'ks': 200, 'k3': 300}

In [85]:
d['k1']='NEW VALUE'

In [86]:
d

{'k1': 'NEW VALUE', 'ks': 200, 'k3': 300}

In [87]:
d= {'k1': 100, 'ks': 200, 'k3': 300}

In [88]:
d.keys()

dict_keys(['k1', 'ks', 'k3'])

In [90]:
d.values()

dict_values([100, 200, 300])

In [91]:
d.items()

dict_items([('k1', 100), ('ks', 200), ('k3', 300)])

## Tuples

In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(mylist)

list

In [4]:
type(t)

tuple

In [5]:
len(t)

3

In [6]:
t = ('one', 2)

In [7]:
t[0]

'one'

In [8]:
t[-1]

2

In [9]:
t = ('a', 'a', 'b')

In [10]:
t.count('a')

2

In [12]:
t.index('a')

0

In [13]:
t.index('b')

2

In [14]:
t

('a', 'a', 'b')

In [15]:
mylist

[1, 2, 3]

In [16]:
mylist[0] = 'NEW'

In [17]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

## Sets

In [18]:
myset = set()

In [19]:
myset

set()

In [20]:
myset.add(1)

In [21]:
myset

{1}

In [22]:
myset.add(2)

In [23]:
myset

{1, 2}

In [24]:
myset.add(2)

In [25]:
myset

{1, 2}

In [29]:
mylist = [14,12,3,55,12]

In [33]:
set([1,3,45,1,2])

{1, 2, 3, 45}

## Booleans - T/F Statements

In [34]:
True

True

In [35]:
False

False

In [36]:
type(False)

bool

In [37]:
1 > 2

False

In [39]:
1<2

True

In [40]:
1==1

True

In [42]:
b = None

In [43]:
b

## Input/Output with .txt Files

In [55]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [56]:
myfile = open('myfile.txt')

In [57]:
pwd

'C:\\Users\\dlu33\\Desktop\\Udemy'

In [58]:
myfile = open('myfile.txt')

In [59]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [60]:
myfile.read()

''

In [61]:
myfile.seek(0)

0

In [63]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [15]:
myfile.seek(0)

0

In [64]:
contents = myfile.read()

In [65]:
contents

''

In [66]:
myfile.seek(0)

0

In [67]:
myfile.readlines()

['Hello this is a text file\n',
 'this is the second line\n',
 'this is the third line\n']

- #### File Locations

In [20]:
pwd

'C:\\Users\\dlu33\\Desktop\\Udemy'

In [22]:
myfile.close()

In [52]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [53]:
contents

''

In [50]:
with open('myfile.txt', mode ='r') as myfile:
    myfile.read()
    myfile.seek(0)

- #### Reading, Writing, Appending Modes

- r = read only 
- w = write only (will overwrite file or create new!)
- a = append only (will add on to files)
- r+ = reading and writing
- w+ = writing and reading (overwrites existing files or create a new file)

In [78]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [79]:
with open('my_new_file.txt', 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [80]:
with open('my_new_file.txt', 'a') as f:
    f.write('FOUR ON FOURTH')

In [81]:
with open('my_new_file.txt', 'r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD
FOUR ON FOURTH

In [82]:
with open('ddhajsghdkjsa.txt', 'w') as f:
    f.write('I CREATED THIS FILE')

In [84]:
with open('ddhajsghdkjsa.txt', 'r') as f:
    print(f.read())

I CREATED THIS FILE

## Python Comparison Operators

In [1]:
2 == 2

True

In [2]:
2 == 1

False

In [4]:
'hello' == 'bye'

False

In [5]:
'Bye' == 'bye'

False

In [6]:
'2' == 2

False

In [7]:
2.0 == 2

True

In [8]:
3 != 3

False

In [9]:
4 != 5

True

In [10]:
2 >1

True

In [11]:
1>2

False

In [12]:
1<2

True

In [13]:
2<1

False

In [14]:
2 >= 2

True

In [15]:
4<=1

False

 - #### Chaining Comparison Operators in Python with Logical Operators

In [16]:
1 < 2

True

In [17]:
2 < 3

True

In [18]:
1<2 and 2<3

True

In [20]:
1<2>3

False

In [21]:
'h' == 'h' and 2 == 2

True

In [23]:
1 == 3 or 2 == 2

True

In [24]:
1 == 1

True

In [25]:
not (1==1)

False

## If, elif, else Statements

In [31]:
hungry = True

if hungry:
    print('FEED ME!')
else:
    print('Im not hungry')

FEED ME!

In [38]:
loc = 'Bruh'

if loc == 'Auto Shop':
    print('Cars are cool!')
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print('Welcome to the store')
else:
    print('I do not know much.')

I do not know much.

In [40]:
name = 'Frankie'

if name ==  'Frankie':
    print('Hello Frankie!')
elif name == 'Sammy':
    print('Hello Sammy')
else:
    print('What is your name?')

Hello Frankie!

## For Loops in Python

In [2]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [3]:
for num in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [4]:
for num in mylist:
    #check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [7]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [6]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [60]:
for _ in 'Hello World':
    print('Cool')

Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool
Cool

In [61]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [62]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [63]:
len(mylist)

4

In [66]:
for a,b in mylist:
    print(b)

2
4
6
8

In [67]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [70]:
for a,b,c in mylist:
    print(a)

1
5
8

In [9]:
d = {'k1':1,'k2':2,'k3':3}

for value in d.values():
    print(value)

1
2
3

In [11]:
for item in d:
    print(item)

k1
k2
k3

In [12]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [14]:
for key,value in d.items():
    print(key)

k1
k2
k3

## While Loops

In [17]:
x = 0

while x < 5:
    print(f'The current value of x is {x}')
    x = x + 1
    # x += 1
    
else:
    print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

#### Break, continue, pass

- break: Breaks out of the current closest enclosing loop.
- continue: Goes to the top of the closest enclosing loop.
- pass: Does nothing at all.

In [3]:
mystring = 'Sammy'

In [6]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [6]:
x = 0

while x < 5:
    if x == 2:
        break
    print(x)
    x = x + 1

0
1

## Useful Operators

In [1]:
mylist = [1,2,3]

In [2]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [4]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [7]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [9]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [10]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count+= 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [13]:
index_count = 0
word = 'abcde'

for letter in enumerate(word):
    
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [16]:

word = 'abcde'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
a


1
b


2
c


3
d


4
e

In [22]:
mylist1 = [1,2,3,4,5,6]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [23]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [24]:
list(zip(mylist1,mylist2))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [25]:
'x' in [1,2,3]

False

In [26]:
'x' in ['x','y','z']

True

In [27]:
'a' in 'a world'

True

In [28]:
'mykey' in {'mykey':345}

True

In [29]:
d = {'mykey':345}
345 in d.values()

True

In [30]:
d = {'mykey':345}
345 in d.keys()

False

In [31]:
mylist = [10,20,30,40,100]

In [32]:
min(mylist)

10

In [33]:
max(mylist)

100

In [34]:
from random import shuffle

In [35]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [40]:
random_list = shuffle(mylist)

In [42]:
type(random_list)

NoneType

In [44]:
mylist

[7, 6, 2, 9, 8, 5, 4, 1, 3, 10]

In [45]:
from random import randint

In [46]:
randint(0,100)

5

In [48]:
randint(0,100)

12

In [49]:
mynum = randint(0,10)

In [51]:
mynum

4

In [61]:
result = int(input('Favorite Number: '))

Favorite Number: 30

In [62]:
type(result)

int

In [63]:
float(result)

30.0

In [64]:
int(result)

30

In [65]:
result

30

## List Comprehensions

In [66]:
mystring = 'hello'

In [68]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [69]:
mylist

['h', 'e', 'l', 'l', 'o']

In [72]:
mylist = [letter for letter in mystring]
mylist

['h', 'e', 'l', 'l', 'o']

In [73]:
mylist = [x for x in 'word']

In [74]:
mylist

['w', 'o', 'r', 'd']

In [75]:
mylist = [num for num in range(0,10)]

In [76]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [78]:
mylist = [num**2 for num in range(0,10)]

In [79]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [85]:
mylist = [x for x in range(0,11) if x%2 ==0]

In [86]:
mylist

[0, 2, 4, 6, 8, 10]

In [88]:
mylist = [x**2 for x in range(0,11) if x%2 ==0]

In [89]:
mylist

[0, 4, 16, 36, 64, 100]

In [90]:
celcius = [0,10,20,34.5]

fahrenheit = [((9/5)*temp + 32) for temp in celcius]

In [91]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [94]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [95]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [96]:
results = [x if x%2 == 0 else 'ODD' for x in range(0,11)]

In [97]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [101]:
mylist = [] 

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [102]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [103]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [104]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

## Methods and Functions

### Methods

In [7]:
mylist = [1,2,3]

In [8]:
mylist.append(4)

In [9]:
mylist

[1, 2, 3, 4]

In [10]:
mylist.pop()

4

#### Functions

In [5]:
def name_of_function():
    print("Hello")

In [6]:
name_of_function()

Hello

In [11]:
def name_of_function(name):
    print('Hello ' + name)

In [12]:
name_of_function("Jose")

Hello Jose

In [13]:
def add_function(num1,num2):
    return num1 + num2

In [14]:
result = add_function(1,2)

In [15]:
print(result)

3

In [22]:
def name_function():
    '''
    DOCSTRING: Information about the function
    INPUT: no input ..
    OUTPUT: Hello .. 
    '''
    print('Hello')

In [23]:
name_function()

Hello

In [24]:
help(name_function)

Help on function name_function in module __main__:

name_function()
    DOCSTRING: Information about the function
    INPUT: no input ..
    OUTPUT: Hello ..

In [33]:
def say_hello(name='NAME'):
    print('Hello '+name)

In [37]:
say_hello('David')

Hello David

In [38]:
say_hello()

Hello NAME

In [39]:
results = say_hello('Zach')

Hello Zach

In [41]:
results

In [42]:
def say_hello(name='NAME'):
    return 'Hello '+name

In [43]:
result = say_hello('Jose')

In [44]:
result

'Hello Jose'

In [45]:
def add(n1,n2):
    return n1 + n2

In [46]:
result = add(20,30)

In [47]:
result

50

In [48]:
# Find out if the word "dog" is in a string?

In [56]:
def dog_check(mystring):
    if 'dog' in mystring:
        return True
    else:
        return False

In [57]:
dog_check('Dog ran away')

False

In [58]:
'dog' in 'dog ran away'

True

In [59]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [60]:
dog_check('Dog ran away')

True

##### PIG LATIN

In [61]:
def pig_latin(word):
    
    first_letter = word[0]
    
    #check if vowel
    if first_letter in 'aeiou':
        pig_word = word + 'ay'
    else:
        pig_word = word[1:] + first_letter + 'ay'
    
    return pig_word

In [62]:
pig_latin('word')

'ordway'

In [63]:
pig_latin('apple')

'appleay'

## * args and ** kwargs in Python 
#### (Arguments and Keyword Arguments)

In [6]:
def myfunc(a,b):
    # Returns 5 % of the sum of a and b
    return (a+b)*.05

In [7]:
myfunc(40,60)

5.0

In [11]:
def myfunc(a,b):
    # Returns 5 % of the sum of a and b
    return sum((a,b))*.05    # TUPLE IN SUM FUNCTION

In [12]:
myfunc(40,60)

5.0

In [13]:
def myfunc(a,b,c=0,d=0,e=0):
    # Returns 5 % of the sum of a and b
    return sum((a,b,c,d,e))*.05    # TUPLE IN SUM FUNCTION

In [17]:
myfunc(40,60,100,100,3)  #replacing a, b, c, d, e

15.15

In [18]:
def myfunc(*args):
    return sum(args) * 0.05

In [21]:
myfunc(40,60,100,1,34)

11.75

In [22]:
def myfunc(*args):
    for item in args:
        print(item)

In [23]:
myfunc(40,60,100,1,34)

40
60
100
1
34

In [27]:
def myfunc(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [29]:
myfunc(fruit ='apple', veggie = 'lettuce')

My fruit of choice is apple

In [30]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('My fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('I did not find any fruit here')

In [31]:
myfunc(fruit ='apple', veggie = 'lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
My fruit of choice is apple

In [3]:
def myfunc(*args,**kwargs):
    print(args)
    print(kwargs)
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [4]:
myfunc(10,20,30, fruit = 'orange', food = 'eggs', animal = 'dog')

(10, 20, 30)
{'fruit': 'orange', 'food': 'eggs', 'animal': 'dog'}
I would like 10 eggs